
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row mb-5">
            <button id="addJob" class="btn btn-success">Görev Dağıt</button>
            <button id="clearAllData" class="btn btn-warning">Tüm Verileri Temizle</button>
        </div>
        <div>Lütfen personel isimleri gelene kadar bekleyin...</div>
        <div class="row">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>İş Ortalama Puanı</th>
                        @*WILL FILL WITH STAFF JOBPOINTS*@
                    </tr>
                    <tr>
                        <th scope="col">Tarih</th>
                        @*WILL FILL WITH STAFF NAMES*@
                    </tr>
                </thead>
                <tbody>
                    @*WILL FILL WITH DATE AND JOBS*@
                </tbody>
            </table>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/myScripts.js"></script>
</body>
</html>


